.pie {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: rgba(78, 78, 78, 0.3);
    font-family: 'Poppins', sans-serif;
}

.pie ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pie a{
    text-decoration: none;
    color: white;
}

.pie ul li{
    padding: 1%;
    font-size: 0.8em;
    margin-top: 1.8vw;
    background-color: rgb(78, 78, 78);
    transition: all 1s;
    margin: 10px;
}

.pie ul li:hover{
    /*background-color: rgb(119, 118, 118);*/
    background-color: cornflowerblue;
}

.pie p{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
