<header>
    <div class="cabecera" id="cabecera">
        <div class="izquierda">
            <div class="logo">
                <a href="http://localhost:4200/"><img src="./assets/images/logo.png" alt="logo pepeliculas"></a>
            </div>
        </div>
        <div class="derecha">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Categorias</a></li>
                <li><a href="/">Estrenos</a></li>
                <li><a href="/">Sobre nosotros</a></li>
            </ul>
        </div>
        <div class="busqueda">
            <label for="busqueda">🔎</label><input type="text" name="busqueda" id="busqueda" placeholder="Buscar pelicula...">
        </div>
    </div>
</header>